@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Blog List";
}

<h2>My blog list</h2>
<p>Hello World form our ViewTemplate</p>
