@model FrokyBlog.Models.Post

@{
    ViewData["Title"] = "Delete";
}

<h1>Tem certeza que quer deletar esse post?</h1>

<div class="container mt-5">
    <h1 class="display-4 mb-3 text-center">@Html.DisplayFor(model => model.Title)</h1>
    <p class="lead text-center">@Html.DisplayFor(model => model.Content)</p>
    <p class="text-center">@Html.DisplayFor(model => model.Description)</p>
    <p class="text-muted text-center">@Html.DisplayFor(model => model.CreatedDate)</p>
</div>

<div class="mt-4 mb-4 d-flex justify-content-between">
    <form asp-action="Delete" class="w-50 me-2">
        <input type="hidden" asp-for="Id" />
        <input type="submit" class="btn btn-outline-warning w-100" value="Delete" />
    </form>
    <a class="btn btn-outline-secondary w-50 ms-2" asp-controller="Home" asp-action="Index">Voltar</a>
</div>
